body {
    background-image: url(public/images/back2.png);
    background-size: 500px 500px;
    background-repeat: repeat; /* or 'repeat-x' or 'repeat-y' if you want to repeat only horizontally or vertically */
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2); /* Change the last value (0.8) to adjust opacity */
  }
  