.about-us {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    color:#1B86C8;
    padding: 20px 0;
    animation: fadeInUp 1s ease;
}

.description {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    animation: fadeInUp 1s ease 0.5s;
    animation-fill-mode: backwards;
}
