.about-us {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header1 {
    margin-left: 00px;
    font-weight: 600;
    font-size: 50px;
    color: #1B86C8;
    animation: fadeInUp 1s ease;
}

.description1 {
    margin: 30px 0px;
    padding: 140px 20px;
    /* border: 1px solid #1B86C8; */
    /* border-radius: 8px; */
    animation: fadeInUp 1s ease 0.5s;
    animation-fill-mode: backwards;
    background-image: url('public/images/aboutBack.png'); /* Replace with your image URL */
    background-size: 1440px 500px;
    background-repeat: no-repeat;
    background-position: center;
}

.p1 {
    margin-left: 00px;
    font-weight: 500;
    font-size: larger;
}

@media (max-width: 768px) {
    .description {
        margin: 15px;
    }

    p {
        margin-left: 15px;
        margin-top: 15px;
    }
}

.emptybox{
    padding: 50px 260px;
}