

img{
  width: 50px;
  height: 70px;
  margin-left: 45px;
  margin-right: 10px;
  margin-top: 5px;
}

.logo-text {
  color: #000000;
}

.logo-text::first-letter {
  color: #F7AD1D;
  font-weight: 800;
  /* font-size: larger; */
}

.nav-button {
  font-weight:600  !important;
  color: black !important;
  padding-right: 25px !important;  /* Overrides all other rules for button color */
}

.nav-button:hover {
  color: #F7AD1D !important;
  background-color: rgb(255, 255, 255) !important;
}

