/* Global Styles */
img {
  width: 60px;
  height: 70px;
  margin-left: 60px;
  margin-right: 0px;
  margin-top: 5px;
}

/* Component-specific Styles */
.merged-app-bar {
  background-color: white !important;
}

.logo-text {
  color: #000000;
  font-size: 25px !important;
  margin-right: 490px !important;
}

.logo-text::first-letter {
  color: #F7AD1D;
  font-weight: 800;
}

.nav-button-register {
  color: white !important;
  background-color: #4883FF !important;
  padding: 5px 10px !important;
  margin-left: 100px !important;
}

.nav-button {
  font-weight: 500 !important;
  color: black !important;
  padding: 0px 35px !important;
}

.nav-button:hover {
  color: #F7AD1D !important;
  background-color: rgb(255, 255, 255) !important;
}

.nav-button-hover {
  color: #F7AD1D !important;
  background-color: rgb(255, 255, 255) !important;
}

.nav-button-register:hover {
  color: #F7AD1D !important;
  background-color: rgb(0, 0, 0) !important;
}
