/* MergedNavBar.css */

/* Existing styles for img, .logo-text, .nav-button, .nav-button:hover, .nav-button-register:hover */

.merged-app-bar {
  background: white;
  color: black;
  padding: 0;
}

.merged-toolbar {
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.search-container {
  flex-grow: 5;
  margin-right: 5%;
}

.search-input {
  width: 100%;
  margin-left: 10px;
  height: 40px;
}

.search-button {
  height: 25px;
  background-color: #FffffF;
  color: #1B86C8;
  margin-right: 0px;
}

.nav-buttons-container {
  display: flex;
}

.mobile-search-icon,
.mobile-menu-icon {
  margin-left: auto;
}

/* Add any additional styles as needed */
