img {
  width: 50px;
  height: 70px;
  margin-left: 45px;
  margin-right: 10px;
  margin-top: 5px;
}

.logo-text {
  color: #000000;
  font-size: 25px !important;
}

.logo-text::first-letter {
  color: #F7AD1D;
  font-weight: 800;
}

.nav-button-register {
  color: white !important;
  background-color: #4883FF !important;
  padding: 5px 10px !important;
  margin-left: 100px !important;
}

.nav-button {
  font-weight: 500 !important;
  color: black !important;
  padding: 0px 40px !important;
}

.nav-button:hover {
  color: #F7AD1D !important;
  background-color: rgb(255, 255, 255) !important;
}

.nav-button-register:hover {
  color: #F7AD1D !important;
}

.merged-app-bar {
  background-color: white !important;
}

.search-container {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.search-input {
  width: 100%;
}

.nav-buttons-container{
  margin-right: 200px !important;
}